body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

h1, h2, h3 {
    font-family: 'Montez', cursive;
    font-size: 46pt;
}

h3 {
    font-size: 30pt;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}
